@import "tailwindcss";

body {
  margin: 0;
}

.background {
  position: fixed;
  inset: 0;

  background-image: url("../assets/bg_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

.background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scanline {
  animation: scanline 8s linear infinite;
}
